<tr>
  <th><%= render "icons/#{resource.provider.underscore}", classes: 'connection__icon' %></td>
  <th><%= resource.name %><br><small><%= resource.provider %> <%= resource.external_type %></small></td>
  <th><%= link_to 'Manage', resource.manage_url, target: :_blank %></td>
</tr>
