<h1>Company: <%= @company.name %></h1>
<p>Email: <%= @company.email %></p>

<ul>
  <% %w[git_hub slack jira heroku google].each do |provider| %>
    <li>
      <%= render "icons/#{provider}", classes: 'icon icon--medium' %>
      <%= link_to "Connect to #{provider.camelize}", route_for(provider), target: :_blank %>
    </li>
  <% end %>
</ul>

<%= button_to 'Reaudit', [:account, :audit] %>

<% @company.ext__resources.each do |resource| %>
  <%= render "icons/#{resource.provider.underscore}", classes: 'icon icon--medium' %>
  <%= resource.name %>

  <ul>
  <% resource.personas.each do |persona| %>
    <li>
      <%= render persona %>
    </li>
  <% end %>
  </ul>
<% end %>
