<header class="new-connections__header">
  <h1 class="new-connections__heading">Connections</h1>

  <ul class="new-connections__actions">
    <li><%= link_to [:new, :account, :connection], title: 'Add a connection', role: :button do %>
      <%= render 'icons/plus', classes: '' %>
    <% end %></li>
    <li><%= button_to [:account, :audit],
      title: 'Reaudit all connections',
      form_class: 'connections__reaudit',
      data: { controller: 'buttons--busy',
              action: 'buttons--busy#busy' } do %>

      <%= render 'icons/refresh', classes: 'connections__icon' %>
    <% end %></li>
  </ul>
</header>

<% ext__resources = @company.ext__resources %>
<% if ext__resources.any? %>
  <section class="connections">
    <% @company.ext__resources.each do |resource| %>
      <figure>
        <table>
          <thead><%= render resource %></thead>
          <tbody>
            <%= render resource.personas, resource: resource %>
          </tbody>
        </table>
      </figure>
    <% end %>
  </section>
<% end %>
