<h1>Company: <%= @company.name %></h1>
<p>Email: <%= @company.email %></p>

<h2>Add a new connection</h2>
<ul class="new-connections">
  <% %w[git_hub slack jira heroku google].each do |provider| %>
    <li class="new-connection">
      <%= link_to route_for(provider), title: provider.camelize, class: "outline", target: :_blank, role: :button do %>
        <%= render "icons/#{provider}", classes: 'icon icon--medium' %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= button_to 'Reaudit', [:account, :audit] %>

<% @company.ext__resources.each do |resource| %>
  <%= render "icons/#{resource.provider.underscore}", classes: 'icon icon--medium' %>
  <%= resource.name %>

  <ul>
  <% resource.personas.each do |persona| %>
    <li>
      <%= render persona %>
    </li>
  <% end %>
  </ul>
<% end %>
